.home{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    background: url('../assets//images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    .text{
        padding: 0 20px;
    }
    
}

.hero{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        position: absolute;

        width: 200px;
        
    }
}